body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.layout {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pagination a, .pagination strong {
    margin: 0 5px;
    text-decoration: none;
}

.pagination strong {
    color: red;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: white;
    color: black;

    padding: 5px 10px;

    border: 1px solid #dee2e6;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #333;
    color:white;

}



.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center; /* 가운데 정렬 */
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #333;
    color: white;
}

.pagination .active {
    color: white;
    background-color: #333;
    border-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #CCCCCC;
    margin-top: 40px;
}