/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display:flex;
    min-height:100vh;
    flex-direction:column;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.layout {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
    margin: 20px;
}

a {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #555;
    text-decoration: underline;
}

footer {

    text-align: center;
    padding: 20px 0;
    background-color: #CCCCCC;
    margin-top: auto;
}

